@model Prueba_tecnica_01.Models.MateriasxAlumno

@{
    ViewData["Title"] = "Delete";
}

<h1 class="txt-title">Eliminar calificación</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre del Alumno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlumnoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Materia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMateriaNavigation.NombreMateria)
        </dd>
        <dt class = "col-sm-2">
            Calificación 1
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion1)
        </dd>
        <dt class = "col-sm-2">
            Calificación 2
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion2)
        </dd>
        <dt class = "col-sm-2">
            Calificación 3
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion3)
        </dd>
    </dl>

    <div class="form-group section-buttons-2">

        <div class="delete-secc">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>

        <div class="btn-section-trowback">
            <a class="btn-trowback" asp-action="Index">Regresar a la lista</a>
        </div>
    
    </div>
</div>

<partial name="_notificationPartial" />
