@model Prueba_tecnica_01.Models.MateriasxAlumno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MateriasxAlumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlumnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlumnoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMateriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMateriaNavigation.NombreMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
