@model IEnumerable<Prueba_tecnica_01.Models.MateriasxAlumno>

@{
    ViewData["Title"] = "Index";
}

<h1 class="txt-title">Sección de Calificaciones</h1>

<div class="btn-secction">
    <a class="btn-create-new" asp-action="Create">Agrega una nueva calificación</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del alumno
            </th>
            <th>
                Nombre de la materia
            </th>
            <th>
                Caificacion 1
            </th>
            <th>
                Caificacion 2
            </th>
            <th>
                Caificacion 3
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateriaNavigation.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion3)
            </td>
            
            <td>
                <a class="btn-edit" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit"></i></a>
                <a class="btn-delete" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_notificationPartial" />
